
.slideshow {
    border-radius: 15px 15px 15px 15px;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 80%;
    height:  auto;
    overflow: hidden;
    transform: translate(-50%, -50%);
  }
  
  
  .slideshow .slider {
    width: 100vw;
    height: 100vw;
    z-index: 2;
  }
  
  .slideshow .slider * {
    outline: none;
  }
  
  .slideshow .slider .item {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
    border: none;
  }
  
  .slideshow .slider .item img {
    min-width: 101%;
    min-height: 101%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  
  .slideshow .slider .item .text {
    display: none;
  }
  
  .slideshow .slick-dots {
    position: fixed;
    z-index: 100;
    width: 40px;
    height: auto;
    bottom: auto;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: auto;
    color: #fff;
    display: block;
  }
  
  .slideshow .slick-dots li {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .slideshow .slick-dots li button {
    position: relative;
    width: 20px;
    height: 15px;
    text-align: center;
  }
  
  .slideshow .slick-dots li button:before {
    content: '';
    background: #000;
    color: #000;
    height: 2px;
    width: 20px;
    border-radius: 0;
    position: absolute;
    top: 50%;
    right: 0;
    left: auto;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    opacity: 0.6;
  }
  
  .slideshow .slick-dots li.slick-active button:before {
    width: 50px;
    opacity: 1;
  }
  
  .slideshow.slideshow-right {
    left: 0;
    z-index: 1;
    width: 50vw;
    pointer-events: none;
  }
  
  .slideshow.slideshow-right .slider {
    left: 0;
    position: absolute;
  }
  
  @media (min-width: 1100px) {
    .slideshow {
      width: 40%;   
    }
  }