@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

html {   
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

body {
    background: transparent;
}

html, body {
    height: 100%;
}

.selector-idioma {
    position: absolute;
    top: 3%;
    left: 5%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.icono-idioma {
    position: absolute;
    text-align: center;;
}

.icono-idioma img {
    width: 2rem;
}

.icono-idioma span {
    font-size: small;
    font-weight: bold;
}

.icono-idioma img:hover {
    border: 1px solid #20396f;
}

.container {
    height: 100%;
    background: transparent;
    min-width: 100px;
}

.card {
    background:transparent;
    padding: 2%;
    border: 0px solid rgba(0,0,0,.125);
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20%;
}

.logo p {
    font-size: 1.2rem;
    text-align: center;
    color: black;
    font-weight: bold;
}

.logo_terminos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
}

.logo_terminos img {
    width: 250px;
    margin: 1%;
}

.logo_terminos p {
    font-size: 1.2rem;
    text-align: center;
    color: black;
    font-weight: bold;
}

.footer {
    color: #2b2929;
    font-weight: bold;
}

.titulo {
    text-align: center;
    margin-top: 5px;
    color: aliceblue;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
}

.formulario {
    padding: 2%;
    border-radius: 10px;
    color: aliceblue;
}


.form-group {
    margin-bottom: 0.6rem;
}

.check-terminos {
    text-align: center;
}



a:hover {
    cursor: pointer ;
    color: black;
}

.form-btn {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
}

.input_error input {
    background-color: rgb(251,154,154,0.73);
}

.input_error input::placeholder {
    color: #EEE;
}

.input_error select {
    background-color: rgb(251,154,154,0.73);
    color: #EEE;
}

.input_error span {
    font-size: 13px;
    font-style: italic;
}

.custom-control-input:checked~.custom-control-label::before {
    border-color: green;
    background-color: green;
} 

.img-logo {
    margin-bottom: 20px;
}


@media (min-width: 1200px) {
    .container {
        max-width: 720px;
    }

    .icono-idioma img {
        width: 3rem;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 720px;
    }

    .icono-idioma img {
        width: 3rem;
    }

    .logo {
        margin-top: 5px;
    }

    .img-logo {
        margin: 40px;
    }  
}

/*------------estilos clima widget*/

.content-weather{
    position: absolute;
    top: 3%;
    right: 3%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 39px;
}


.img-weather{
    position: absolute;
    text-align: center;
    right: 0;
    display: contents;
}
.img-weather > img {
    margin-top: -13px;
}
#wSummary{
    font-size: 24px;
}
#temperatureGroup{
    font-size: 27px;
    font-weight: bold;
}
/* #geoLoc{

} */
@media (max-width: 960px) {
    .content-weather {
        transform: scale(0.6);
        top: 0;
        padding: 0;
        right: -18px;       
    }     
    #wSummary {
        font-size: 33px
    }
    #temperatureGroup{
        font-size: 36px;
        font-weight: bold;
    }
}



