[database]
    host = "localhost"
    port = ""
    user = "root"
    password = "IPwork2019."
    name = "unicentro"
    campania = "coworking"
    id_locacion = "1"
    id_campania = "4"

[radius]
    url = "http://167.172.123.50"
    realm_id = 37
    profile_id = 15
    token = "b4c6ac81-8c7c-4802-b50a-0a6380555b50"

[radius_prod]
    url = "http://64.225.36.245"
    realm_id = 38
    profile_id = 22
    token = "521dc362-81a4-4a34-8a0b-052f03662c24"

[radius_test]
    url = "http://167.172.123.50"
    realm_id = 37
    profile_id = 15
    token = "b4c6ac81-8c7c-4802-b50a-0a6380555b50"

